<!-- <div class="categories-container">
    <ng-container *ngIf="!loading && !error; else loadingOrError">
        <div class="category-card" *ngFor="let category of categories" [routerLink]="['/articles', category.url]">
            <h3>{{ category.name }}</h3>
        </div>
    </ng-container>

    <ng-template #loadingOrError>
        <div class="status-message">
            <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
            <div class="error-message" *ngIf="error">
                {{ error }}
                <button mat-button color="primary" (click)="loadCategories()">Попробовать снова</button>
            </div>
        </div>
    </ng-template>
</div> -->