<div class="success-popup">
  <h2 mat-dialog-title>Спасибо за вашу заявку!</h2>
  <svg class="close-button" mat-dialog-close width="16" height="16" viewBox="0 0 16 16" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#BEBEBE" stroke-linecap="round" />
    <line x1="13.9236" y1="2.62971" x2="1.90277" y2="14.6505" stroke="#BEBEBE" stroke-linecap="round" />
  </svg>
  <mat-dialog-content>
    <p>Мы свяжемся с вами при первой же возможности.</p>
  </mat-dialog-content>
  <div class="submit-button-container">
    <button class="button" mat-dialog-close cdkFocusInitial>Окей</button>
  </div>
</div>